@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital@0;1&family=Khula:wght@800&family=Rubik&family=Signika:wght@700&display=swap');

/*font-family: 'Averia Serif Libre', cursive; (SUBTITUTLOS)
font-family: 'Khula', sans-serif; (TITULO DOS LIVROS)
font-family: 'Rubik', sans-serif; (parágrafo normal)
font-family: 'Signika', sans-serif; (TITULO DA LOJA)*/

/*#A86411
#FFAF4D
#F59D31
#0071A8
#31B5F5*/

header {
  font-family: 'Signika', sans-serif;
  font-size: 30px;
  background-color:#FFAF4D;
  padding: 4px;
  display:flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0px;
  background-color: #fcfcfc;
}

h2 {
  font-family: 'Averia Serif Libre', cursive;
  text-align: center;
  font-size: 40px;
}

nav {
  top: 0;
  position: sticky;
  z-index: 10;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color:#0071A8;
  overflow: hidden;
}

nav li {
  float: left;
}

li a, .drop {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Rubik', sans-serif ;
}

li a:hover, .menusecundario:hover .drop {
  background-color: #F59D31;
  transition-duration: 0.3s;
  cursor: pointer;
}

li.menusecundario {
  display: inline-block;
}

.dropcontent {
  display: none;
  position: absolute;
  background-color: #0071A8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropcontent ul{
  color: #A86411;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropcontent a:hover {
  background-color: #A86411;
  transition-duration: 0.3s;
  cursor: pointer;
}

.menusecundario:hover .dropcontent {
  display: block;
}

.livro {
  width: 19%;
  display: flex;
  padding: 5px;
  flex-direction: column;
  place-items: center;
  min-width: 280px;
  justify-content: space-between;
}

main section {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  text-align: center;
}

@media screen and (max-width: 600px) {
  main section {
    justify-content: space-around;
  }
}

@media print {
  nav {
    display: none;
  }
  li a {
   display: none;
 }
 .livro {
   width: none;
 }
}

.titulosecao #primeirotitulo {
  margin-top: 0em;
}
.titulosecao {
  display:flex;
  position: center;
  text-align: center;
  width: 100%;
  margin-top: 2em;
  background-color: #FFAF4D;
  padding-top: 1em;
  height:2em;
  justify-content:space-around;
}

#primeirotitulo {
  display:flex;
  position: center;
  text-align: center;
  width: 100%;
  margin-top: 0em;
  background-color: #FFAF4D;
  padding-top: 1em;
  height:2em;
  justify-content:space-around;
}

p {
  font-family: 'Rubik', sans-serif;
}


main a {
  text-decoration: none;
  background-color: #0071A8;
  color: white;
  padding: 15px 25px;
  text-align: center;
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  transition-duration: 0.5s;
  cursor: pointer;
}

main a:hover, input[type=submit]:hover {
  background-color: #F59D31;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

label {
  font-family: 'Rubik', sans-serif;
  text-align: left;
}

input[type=text], input[type=email], input[type=password], input[type=date], input[type=number], select {
  width: 100%;
  flex-wrap: wrap;
  padding: 15px;
  margin: 5px 0 20px 0;
  box-sizing: border-box;
  transition-duration: 0.5s;
  outline: none;
}

input[type=radio], input[type=checkbox] {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-top: 2px;
  text-align: left;
}

.checkbox {
  text-align: left;
  margin-top: 0;
  margin-bottom: 9px;
}

.radio {
  font-size: 20px;
  padding: 5px;
}

.labelradio {
  margin-bottom: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus, input[type=number]:focus, select:focus, input[type=checkbox]:hover {
  border: 2px solid #0071A8;
  background-color:#b6e2f8;
}

button[type=submit], button[type=button] {
  display: flex;
  cursor: pointer;
  border: none;
  padding: 1em;
  margin-top: 20px;
  background-color: #0071A8;
  color: white;
  font-family: 'Rubik', sans-serif;
  transition-duration: 0.5s;
}

button[type=submit]:hover, button[type=button]:hover {
  background-color: #F59D31;
  color: black;

} 

.paiform {
  display: block;
  text-align: center;
}


form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  color: #0071A8;
  font-family: 'Khula', sans-serif;
  padding: 25px;
}

form a {
  display: block;
}

.linknormal {
  padding: 0;
  text-decoration: underline;
  color: blue;
  background-color: transparent;
  text-align: left;
  transition-duration: 99999999s;
}

label {
  font-family: 'Rubik', sans-serif;
  text-align: left;
}



table {
  display: flex;
  justify-content: center;
  position: center;
  width: 100%;
}

td, th {
  text-align: center;
  border-collapse: collapse;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  height: 1em;
}

th {
  background-color: #0071A8;
  color: white;
}

tr:nth-child(even) {background-color: #b6e2f8;}

table a {
  background-color:transparent;
  width: 25%;
  height: 25%;
  text-align: center;
  color: black;
  border: 2px solid #0071A8 ;
  margin: auto;
  padding: 20px
}

.acaouser {
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.capa {
  display: flex;
  place-items: center;
  justify-content: center;
  margin: 30px;
}

.preco {
  text-align: center;
}

.botoescompra {
  display: flex;
  justify-content: space-around;
}

.quadro {
  justify-content: space-around;
  display: flex;
}

.detalheslivro {
  display: table;
  text-align: left;
  padding: 20px;
  margin: 20px;
  border-radius: 3px;
  border: 4px solid #FFAF4D;
  background-color: white;
}

#presentecomprar {
  padding:10px 9px 15px 20px;
}


details > summary {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  width: 200px;
  background-color: #0071A8;
  color: white;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
  transition-duration: 0.5s;
  margin: 2em;
}

details > summary:hover {
  background-color:#FFAF4D ;
  color:black;
}

details > p {
  margin-bottom: 40px;
  background-color:#b6e2f8 ;
  padding: 20px;
}

footer {
  margin-top: 50px;
  background-color:#FFAF4D ;
}

footer a {
  text-decoration: none;
  color:black;
  display: block;
  text-align: center;
  padding: 15px 15px;
}

main {
  display: block;
}



